<%if !session[:no_more_popups] && !current_user.listing_info_access?%>
<div id="form_locked_popup" class="leftsearch_box" style="vertical-align: bottom;position:absolute;left:160px;top:260px;width:220px;height:100px;z-index:1500;opacity:0.9;background: #CCFFCC;">
<%=image_tag 'cross.png', :style=>"float:right;cursor:pointer;", :onclick=> "Element.hide('form_locked_popup');"%>
</br>
<table>
   <tr><td valign="center"><span style="font-size:48pt;"><b>&lt;</b></span></td>
  <td><b>The search form is only partly enabled. To fully enable the form, help your fellow renters by adding details to your listings.</b> <br/><%=link_to 'Add detail', new_listing_listing_info_path(current_user.listing)%></td>
  </tr>
  </table>
</div>
<%end%>
