<%update_page do |page|%>

<!--start left_bar-->
	<div id="search_bar" style="width:175px;float:left;border-right:1px solid #ddd;">
		<%= render :partial=>'search_form'%>
	</div>
<!-- end leftbar -->

<!-- start content -->
	<div id="content" style="width:100%;padding:0px 10px;">
    
		<%= render :partial => 'listing_list'%>
	</div>

<!-- end content -->

<!-- start rightbar -->
	<div id="right_bar" style="float:right;width:250px;border-left:1px solid #ddd;">
		Right column
		<!--
    <div id="mapouter">
		<ul>
		  <li id="search">
		    <span style="font-size:16px;margin-right:20px"><b>map</b></span>
        
            <span id="small_map" style="display:none"><%= link_to_function("Small map",["toggleMapSize(); moveDiv();", page.toggle("small_map", "large_map")])%></span> 
            <span id="large_map"><%= link_to_function("Large map",["toggleMapSize(); moveDiv();", page.toggle("small_map", "large_map")])%></span>
		    
			<div id="map" class="map" style="text-align:right">		
			
			</div>
		  </li>
		</ul>
    -->
		</div>
    
		

<!-- end rightbar -->
<%end%>