<%update_page do |page|%>

<!--start left_bar-->
<table>
<tr>

	<td id="search_bar" style="width:185px;border-right:1px solid #ddd;vertical-align:top">
		<%= render :partial=>'search_form'%>
	</td>
<!-- end leftbar -->

<!-- start content -->
	<td id="content" style="width:70%;padding:10px 15px;vertical-align: top">
  
		<%= render :partial => 'listing_list', :locals=>{:page=>page}%>
	</td>
<!-- end content -->

<!-- start rightbar -->
	<td id="right_bar" style="width:250px;border-left:1px solid #ddd;padding:10px 15px;vertical-align:top">
		Lots of stuff
    asd
    asdfasdfas
    fsadfasdf
    asdf
    asdf
    asdf
    asd
    f
    asdf
    as
    df
    asd
    fas
    df
    as
    df
    asd
    fa
    sdf
    as
    dfa
    sd
</td>
</tr>
</table>
<!-- end rightbar -->
<%end%>