<%update_page do |page|%>

<!--left column-->
<div id="left_column" style="width:200;border-right:1px solid #ddd;padding:10px;height:100%;float:left">
  <%= render :partial=>'search_form'%>
</div>
<!--/left column -->

<!--mid column -->
<div style="left:200px;width:65%;min-width:400px;height:100%;padding:10px;float:left">
		<%= render :partial => 'listing_list', :locals=>{:page=>page}%>
</div>
<!--/mid column -->

<!--right column -->
<div style="width:280;border-left:1px solid;height:100%;float:left;padding:10px">
  <%= image_tag 'fake_right_bar'%>
</div>
	
<!-- end rightbar -->
<%end%>