<!--menu bar-->
<MAP NAME="PreviewImageMap">
<AREA SHAPE=RECT HREF="" ALT="Discuss with others" COORDS="436,58,494,94">
<AREA SHAPE=RECT HREF="" ALT="Look together!" COORDS="349,58,434,94">
<AREA SHAPE=RECT HREF="" ALT="Favorite apartments" COORDS="243,59,348,91">
<AREA SHAPE=RECT HREF="" ALT="Find aparment" COORDS="185,58,241,91">
</MAP>

<%= image_tag "header_left.png", :usemap=>"#PreviewImageMap", :ismap=>"ISMAP", :style=>'float:left;border:0;' -%>
<div id='menu_bar_right' style="background-image:url('images/menu_bar_strip.png');background-repeat: repeat;width:100%;height:110px"></div>

<!--/menu bar-->