<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>eegloo - rent like a free man</title>
</head>

<html>
<body style="margin-top:35px; font-family: georgia, sans-serif; font-size: 20px; color: #222; text-align:center; ">

<div style="width: 65%; margin: auto;">

<%= yield  %>

</div>
  

<div style="text-align: center;">
Copyright &copy; 2008 Nbino, Inc.
</div>

</body>
</html>