

  <div style="text-align: left; padding-left: 0px;">
  <%=image_tag "logo.gif"%>
  </div>

  <div style="text-align: center; padding-left: 0px;padding-top: 40px;">
  <%=image_tag "headline.jpg"%>
  </div>

  <p style="padding-top: 30px; text-align: left">
  Eegloo is a social apartment listing network that enables apartment hunters to band together and create a listing database that is trustworthy, visual, detailed and full of valuable insider info. 
  <%=link_to "Start here", listings_path%>
  </p>


